<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-1.12.4.js" 
			integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" 
			crossorigin="anonymous">
		</script>
        <link rel="stylesheet" href="./style.css" type="text/css">

        <title>Example</title>
    </head>
    <body>
        <script id="Listener" src="./formlistener.js" type="text/javascript"></script>
        <header>
            <div class="geeks">
                <h2 class="logo">Hello</h2>
            </div>
        </header>
        <main> 
            <%- include('./partials/signupForm.ejs'); %>
            <!-- <div class="square"></div>
            <div class="triangle"><div class="triangle2"></div></div>  -->
        </main>
        <br>
        <br><br><br><br><br><br><br><br><br>
        <div class="foot3r">
            <span>
            </span> 
            <div class="foot3r_elem">
                <div class="square"></div><strong style="color: #6600ff;"><big> Also available on</big></strong><br>
                <strong>LinkedIn: </strong> <br>
                <strong>GitHub: </strong>
                <br>
            </div>
            
            <div class="foot3r_last" >
                <div class="square"></div>
                <strong style="color: #6600ff;"><big>Social </big></strong><br>
                <strong>Instagram: </strong> <br>
                <strong>FaceBook: </strong>
                <br></div>
        </div>
    </body>
</html>